[submodule "svc"]
	path = svc
	url = git@github.com:pbozeman/svc.git
[submodule "sw/coremark/coremark"]
	path = sw/coremark/coremark
	url = git@github.com:eembc/coremark.git
[submodule "sw/picolibc"]
	path = sw/picolibc
	url = git@github.com:picolibc/picolibc.git
