set_io CLK J3
set_io LED1 C13
set_io BTN1 D13
set_io UART_RX F11
set_io UART_TX E13
set_io SPI_SS R12

set_io A[0] C11
set_io A[1] A16
set_io A[2] F9
set_io A[3] B14
set_io A[4] D10
set_io A[5] B13
set_io A[6] E11
set_io A[7] C12
set_io A[8] D11
set_io A[9] B12
set_io A[10] C10
set_io A[11] A11
set_io A[12] E10
set_io A[13] B15
set_io A[14] D9
set_io A[15] B11
set_io A[16] C9
set_io A[17] C14
set_io A[18] E9
set_io A[19] A10
set_io A[20] C6
set_io A[21] B10
set_io A[22] D8
set_io A[23] A9
set_io A[24] C8
set_io A[25] A15
set_io A[26] D5
set_io A[27] B9
set_io A[28] D7
set_io A[29] B8
set_io A[30] C5
set_io A[31] A7
set_io A[32] C4
set_io A[33] B7
set_io A[34] C7
set_io A[35] A6
set_io A[36] C3
set_io A[37] B6
set_io A[38] F7
set_io A[39] B4
set_io A[40] D6
set_io A[41] A5
set_io A[42] D4
set_io A[43] B5
set_io A[44] E6
set_io A[45] B3
set_io A[46] D3
set_io A[47] A2
set_io A[48] E5
set_io A[49] A1
set_io B[0] F5
set_io B[1] B2
set_io B[2] E4
set_io B[3] B1
set_io B[4] G5
set_io B[5] C2
set_io B[6] E3
set_io B[7] C1
set_io B[8] H6
set_io B[9] D2
set_io B[10] L6
set_io B[11] D1
set_io B[12] F3
set_io B[13] F1
set_io B[14] J5
set_io B[15] F2
set_io B[16] F4
set_io B[17] G1
set_io B[18] G3
set_io B[19] G2
set_io B[20] K5
set_io B[21] H1
set_io B[22] G4
set_io B[23] H2
set_io B[24] K4
set_io B[25] E2
set_io B[26] L5
set_io B[27] J1
set_io B[28] H3
set_io B[29] J2
set_io B[30] L4
set_io B[31] K1
set_io B[32] H4
set_io B[33] L1
set_io B[34] H5
set_io B[35] M2
set_io B[36] L7
set_io B[37] M1
set_io B[38] J4
set_io B[39] N2
set_io B[40] N4
set_io B[41] P1
set_io B[42] M5
set_io B[43] P2
set_io B[44] K3
set_io B[45] R1
set_io B[46] M6
set_io B[47] M3
set_io B[48] L3
set_io B[49] M4
set_io C[0] B16
set_io C[1] G11
set_io C[2] C16
set_io C[3] F12
set_io C[4] D14
set_io C[5] G12
set_io C[6] D16
set_io C[7] F13
set_io C[8] D15
set_io C[9] E14
set_io C[10] E16
set_io C[11] G14
set_io C[12] F16
set_io C[13] F14
set_io C[14] F15
set_io C[15] G10
set_io C[16] G15
set_io C[17] H12
set_io C[18] G16
set_io C[19] G13
set_io C[20] J15
set_io C[21] H11
set_io C[22] J16
set_io C[23] H14
set_io C[24] H16
set_io C[25] H13
set_io C[26] K15
set_io C[27] J12
set_io C[28] K16
set_io C[29] J10
set_io C[30] K14
set_io C[31] J11
set_io C[32] L16
set_io C[33] L12
set_io C[34] L14
set_io C[35] J13
set_io C[36] M16
set_io C[37] M13
set_io C[38] R14
set_io C[39] J14
set_io C[40] M15
set_io C[41] K12
set_io C[42] N16
set_io C[43] M14
set_io C[44] P15
set_io C[45] K13
set_io C[46] P16
set_io C[47] P14
set_io C[48] R15
set_io C[49] L13
set_io D[0] R16
set_io D[1] M12
set_io D[2] T16
set_io D[3] N12
set_io D[4] T15
set_io D[5] M11
set_io D[6] T14
set_io D[7] P12
set_io D[8] P13
set_io D[9] P11
set_io D[10] R5
set_io D[11] N10
set_io D[12] T13
set_io D[13] P10
set_io D[14] R11
set_io D[15] L11
set_io D[16] T11
set_io D[17] L10
set_io D[18] R10
set_io D[19] L9
set_io D[20] T10
set_io D[21] N9
set_io D[22] R9
set_io D[23] P8
set_io D[24] R3
set_io D[25] M9
set_io D[26] T9
set_io D[27] K11
set_io D[28] P9
set_io D[29] N7
set_io D[30] T8
set_io D[31] M8
set_io D[32] R2
set_io D[33] P6
set_io D[34] T7
set_io D[35] N6
set_io D[36] T1
set_io D[37] K9
set_io D[38] T6
set_io D[39] N5
set_io D[40] R6
set_io D[41] P7
set_io D[42] T5
set_io D[43] M7
set_io D[44] R4
set_io D[45] P4
set_io D[46] T3
set_io D[47] P5
set_io D[48] T2
set_io D[49] N3

set_io SRAM_256_A_OE_N E11
set_io SRAM_256_A_WE_N B4
set_io SRAM_256_A_LB_N C10
set_io SRAM_256_A_UB_N D11
set_io SRAM_256_B_OE_N E3
set_io SRAM_256_B_WE_N N2
set_io SRAM_256_B_LB_N L6
set_io SRAM_256_B_UB_N H6
set_io SRAM_256_C_OE_N M14
set_io SRAM_256_C_WE_N E16
set_io SRAM_256_C_LB_N J14
set_io SRAM_256_C_UB_N K12
set_io SRAM_256_D_OE_N M7
set_io SRAM_256_D_WE_N R5
set_io SRAM_256_D_LB_N N5
set_io SRAM_256_D_UB_N P7

set_io SRAM_256_A_ADDR_BUS[0] A16
set_io SRAM_256_A_ADDR_BUS[1] B14
set_io SRAM_256_A_ADDR_BUS[2] B13
set_io SRAM_256_A_ADDR_BUS[3] C12
set_io SRAM_256_A_ADDR_BUS[4] B12
set_io SRAM_256_A_ADDR_BUS[5] A5
set_io SRAM_256_A_ADDR_BUS[6] B5
set_io SRAM_256_A_ADDR_BUS[7] B3
set_io SRAM_256_A_ADDR_BUS[8] A2
set_io SRAM_256_A_ADDR_BUS[9] A1
set_io SRAM_256_A_ADDR_BUS[10] E5
set_io SRAM_256_A_ADDR_BUS[11] D3
set_io SRAM_256_A_ADDR_BUS[12] E6
set_io SRAM_256_A_ADDR_BUS[13] D4
set_io SRAM_256_A_ADDR_BUS[14] D6
set_io SRAM_256_A_ADDR_BUS[15] D10
set_io SRAM_256_A_ADDR_BUS[16] F9
set_io SRAM_256_A_ADDR_BUS[17] C11
set_io SRAM_256_A_DATA_BUS[0] A11
set_io SRAM_256_A_DATA_BUS[1] B15
set_io SRAM_256_A_DATA_BUS[2] C6
set_io SRAM_256_A_DATA_BUS[3] D8
set_io SRAM_256_A_DATA_BUS[4] C8
set_io SRAM_256_A_DATA_BUS[5] D5
set_io SRAM_256_A_DATA_BUS[6] D7
set_io SRAM_256_A_DATA_BUS[7] C5
set_io SRAM_256_A_DATA_BUS[8] F7
set_io SRAM_256_A_DATA_BUS[9] C3
set_io SRAM_256_A_DATA_BUS[10] C7
set_io SRAM_256_A_DATA_BUS[11] C4
set_io SRAM_256_A_DATA_BUS[12] E9
set_io SRAM_256_A_DATA_BUS[13] C9
set_io SRAM_256_A_DATA_BUS[14] D9
set_io SRAM_256_A_DATA_BUS[15] E10
set_io SRAM_256_B_ADDR_BUS[0] B2
set_io SRAM_256_B_ADDR_BUS[1] B1
set_io SRAM_256_B_ADDR_BUS[2] C2
set_io SRAM_256_B_ADDR_BUS[3] C1
set_io SRAM_256_B_ADDR_BUS[4] D2
set_io SRAM_256_B_ADDR_BUS[5] P1
set_io SRAM_256_B_ADDR_BUS[6] P2
set_io SRAM_256_B_ADDR_BUS[7] R1
set_io SRAM_256_B_ADDR_BUS[8] M3
set_io SRAM_256_B_ADDR_BUS[9] M4
set_io SRAM_256_B_ADDR_BUS[10] L3
set_io SRAM_256_B_ADDR_BUS[11] M6
set_io SRAM_256_B_ADDR_BUS[12] K3
set_io SRAM_256_B_ADDR_BUS[13] M5
set_io SRAM_256_B_ADDR_BUS[14] N4
set_io SRAM_256_B_ADDR_BUS[15] G5
set_io SRAM_256_B_ADDR_BUS[16] E4
set_io SRAM_256_B_ADDR_BUS[17] F5
set_io SRAM_256_B_DATA_BUS[0] D1
set_io SRAM_256_B_DATA_BUS[1] K5
set_io SRAM_256_B_DATA_BUS[2] G4
set_io SRAM_256_B_DATA_BUS[3] K4
set_io SRAM_256_B_DATA_BUS[4] L5
set_io SRAM_256_B_DATA_BUS[5] H3
set_io SRAM_256_B_DATA_BUS[6] L4
set_io SRAM_256_B_DATA_BUS[7] M1
set_io SRAM_256_B_DATA_BUS[8] J4
set_io SRAM_256_B_DATA_BUS[9] L7
set_io SRAM_256_B_DATA_BUS[10] H5
set_io SRAM_256_B_DATA_BUS[11] H4
set_io SRAM_256_B_DATA_BUS[12] G3
set_io SRAM_256_B_DATA_BUS[13] F4
set_io SRAM_256_B_DATA_BUS[14] J5
set_io SRAM_256_B_DATA_BUS[15] F3
set_io SRAM_256_C_ADDR_BUS[0] R15
set_io SRAM_256_C_ADDR_BUS[1] P16
set_io SRAM_256_C_ADDR_BUS[2] P15
set_io SRAM_256_C_ADDR_BUS[3] N16
set_io SRAM_256_C_ADDR_BUS[4] M15
set_io SRAM_256_C_ADDR_BUS[5] D15
set_io SRAM_256_C_ADDR_BUS[6] D16
set_io SRAM_256_C_ADDR_BUS[7] D14
set_io SRAM_256_C_ADDR_BUS[8] C16
set_io SRAM_256_C_ADDR_BUS[9] B16
set_io SRAM_256_C_ADDR_BUS[10] G11
set_io SRAM_256_C_ADDR_BUS[11] F12
set_io SRAM_256_C_ADDR_BUS[12] G12
set_io SRAM_256_C_ADDR_BUS[13] F13
set_io SRAM_256_C_ADDR_BUS[14] E14
set_io SRAM_256_C_ADDR_BUS[15] K13
set_io SRAM_256_C_ADDR_BUS[16] P14
set_io SRAM_256_C_ADDR_BUS[17] L13
set_io SRAM_256_C_DATA_BUS[0] R14
set_io SRAM_256_C_DATA_BUS[1] J10
set_io SRAM_256_C_DATA_BUS[2] J12
set_io SRAM_256_C_DATA_BUS[3] H13
set_io SRAM_256_C_DATA_BUS[4] H14
set_io SRAM_256_C_DATA_BUS[5] H11
set_io SRAM_256_C_DATA_BUS[6] G13
set_io SRAM_256_C_DATA_BUS[7] F16
set_io SRAM_256_C_DATA_BUS[8] G14
set_io SRAM_256_C_DATA_BUS[9] F14
set_io SRAM_256_C_DATA_BUS[10] G10
set_io SRAM_256_C_DATA_BUS[11] H12
set_io SRAM_256_C_DATA_BUS[12] J11
set_io SRAM_256_C_DATA_BUS[13] L12
set_io SRAM_256_C_DATA_BUS[14] J13
set_io SRAM_256_C_DATA_BUS[15] M13
set_io SRAM_256_D_ADDR_BUS[0] T2
set_io SRAM_256_D_ADDR_BUS[1] T3
set_io SRAM_256_D_ADDR_BUS[2] R4
set_io SRAM_256_D_ADDR_BUS[3] T5
set_io SRAM_256_D_ADDR_BUS[4] R6
set_io SRAM_256_D_ADDR_BUS[5] P13
set_io SRAM_256_D_ADDR_BUS[6] T14
set_io SRAM_256_D_ADDR_BUS[7] T15
set_io SRAM_256_D_ADDR_BUS[8] T16
set_io SRAM_256_D_ADDR_BUS[9] R16
set_io SRAM_256_D_ADDR_BUS[10] M12
set_io SRAM_256_D_ADDR_BUS[11] N12
set_io SRAM_256_D_ADDR_BUS[12] M11
set_io SRAM_256_D_ADDR_BUS[13] P12
set_io SRAM_256_D_ADDR_BUS[14] P4
set_io SRAM_256_D_ADDR_BUS[15] P5
set_io SRAM_256_D_ADDR_BUS[16] N3
set_io SRAM_256_D_ADDR_BUS[17] T11
set_io SRAM_256_D_DATA_BUS[0] T6
set_io SRAM_256_D_DATA_BUS[1] T1
set_io SRAM_256_D_DATA_BUS[2] N7
set_io SRAM_256_D_DATA_BUS[3] K11
set_io SRAM_256_D_DATA_BUS[4] M9
set_io SRAM_256_D_DATA_BUS[5] P8
set_io SRAM_256_D_DATA_BUS[6] N9
set_io SRAM_256_D_DATA_BUS[7] L9
set_io SRAM_256_D_DATA_BUS[8] N10
set_io SRAM_256_D_DATA_BUS[9] P10
set_io SRAM_256_D_DATA_BUS[10] L11
set_io SRAM_256_D_DATA_BUS[11] L10
set_io SRAM_256_D_DATA_BUS[12] M8
set_io SRAM_256_D_DATA_BUS[13] P6
set_io SRAM_256_D_DATA_BUS[14] N6
set_io SRAM_256_D_DATA_BUS[15] K9

set_io PMOD_A[0] J16
set_io PMOD_A[1] K15
set_io PMOD_A[2] K14
set_io PMOD_A[3] L14
set_io PMOD_A[4] H16
set_io PMOD_A[5] K16
set_io PMOD_A[6] L16
set_io PMOD_A[7] M16
set_io PMOD_B[0] P9
set_io PMOD_B[1] M8
set_io PMOD_B[2] R2
set_io PMOD_B[3] T7
set_io PMOD_B[4] T9
set_io PMOD_B[5] R3
